.swiper {
  height: 100vh;
  margin-top: 15vh;
}

.swiper-slide img {
  height: 40vh;
  margin-bottom: 40px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
