@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.ion-text-lg {
  margin-top: 5rem;
  margin-left: 1rem;
  color: #F178B6;
  font-size: 2rem;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}